@font-face {
  font-family: "";
  font-weight: normal;
  font-display: swap;
  src: local(""),
    url("../fonts/***.woff2") format("woff2"),
    url("../fonts/***.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  font-display: swap;
  src: local(""),
    url("../fonts/***.woff2") format("woff2"),
    url("../fonts/***.woff") format("woff");
}
