// Переменные цвета
$colorSlogan: #ffffff;
$colorText: #000000;
$colorBright: #fab300;
$colorBack: #fcda28;
//Переменные шрифта
$ff: "***", "Arial", sans-serif;
//Переменные адаптивных величин
$small: 320px;
$mobile: 576px;
$middle: 768px;
$tablet: 992px;
$desktop: 1300px;
